{% extends "symbols/THW_Einheiten/1._Bergungsgruppe.j2" %}
{%- block title -%}
	1. Bergungsgruppe mit Abstützsystem Holz
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="180">ASH</text>
{%- endblock symbol -%}