{% extends "symbols/THW_Einheiten/2._Bergungsgruppe.j2" %}
{%- block title -%}
	2. Bergungsgruppe Typ A
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="180">A</text>
{%- endblock symbol -%}