{% extends "symbols/THW_Einheiten/Führungstrupp.j2" %}
{%- block title -%}
	Fachgruppe Führung-Kommunikation - Führungs und Kommunikationstrupp
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px; " fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="145">FüKom</text>
{%- endblock symbol -%}