{% extends "symbols/THW_Einheiten/FGr_Brückenbau.j2" %}
{%- block title -%}
	Fachgruppe Brückenbau Typ A
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="180">A</text>
{%- endblock symbol -%}