{% extends "symbols/THW_Einheiten/FGr_Führung-Kommunikation.j2" %}
{%- block title -%}
	Fachgruppe Führung-Kommunikation Typ B
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="180">B</text>
{%- endblock symbol -%}