{% extends "symbols/THW_Einheiten/Einheit.j2" %}
{%- block title -%}
	Führungseinheit
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Command = true -%}
	{{ super() }}
{%- endblock symbol -%}