{% extends "symbols/THW_Einheiten/Führungseinheit.j2" %}
{%- block title -%}
	Führungstrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{{ super() }}
{%- endblock symbol -%}