{% extends "symbols/THW_Einheiten/Logistikeinheit.j2" %}
{%- block title -%}
	Logistiktrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{{ super() }}
{%- endblock symbol -%}