{% extends "symbols/THW_Einheiten/Einheit.j2" %}
{%- block title -%}
	Logistikeinheit
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Logistics = true -%}
	{{ super() }}
{%- endblock symbol -%}