{% extends "symbols/THW_Einheiten/Zug.j2" %}
{%- block title -%}
	Technischer Zug
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px; " fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="145">TZ-</text>
{%- endblock symbol -%}