{% extends "symbols/THW_Einheiten/Technischer_Zug_mit_FGr_Ölschaden.j2" %}
{%- block title -%}
	Technischer Zug mit Fachgruppe Ölschaden Typ A
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="180">A</text>
{%- endblock symbol -%}