{% extends "symbols/THW_Einheiten/Einheit.j2" %}
{%- block title -%}
	Verband Logistik
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.UnitSize = "Verband 1" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px; " fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="145">Log</text>
{%- endblock symbol -%}