{% extends "symbols/THW_Einheiten/Trupp.j2" %}
{%- block title -%}
	Zugtrupp
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<ellipse cx="64"  cy="86" rx="10" ry="10" fill="{{ colorSecondary[Sign.Organisation] }}" />
	<ellipse cx="128" cy="86" rx="10" ry="10" fill="{{ colorSecondary[Sign.Organisation] }}" />
	<ellipse cx="192" cy="86" rx="10" ry="10" fill="{{ colorSecondary[Sign.Organisation] }}" />
{%- endblock symbol -%}