{% extends "templates/base.j2t" %}
{%- block title -%}
	Rettungsrobotik Bildauswerter
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.SpecialFunction = true -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text x="128" y="140" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 32px;" fill="{{ colorSecondary[Sign.Organisation] }}">RettR</text>
	<text x="128" y="240" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 32px;" fill="{{ colorStroke[Sign.Organisation] }}">Bildauswerter</text>
{%- endblock symbol -%}