{% extends "templates/base.j2t" %}
{%- block title -%}
	Staffelführer
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Command = true-%}
	{%- set Sign.UnitSize = "Staffel" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}