{% extends "symbols/Führungsstellen/Führungsstelle.j2" %}
{%- block title -%}
	Abschnittsführungsstelle
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 56px; text-anchor: middle;" x="128" y="150">AFüSt</text>
{%- endblock symbol -%}