{% extends "symbols/Führungsstellen/Führungsstelle.j2" %}
{%- block title -%}
	Führungsstelle Feldlager THW
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 56px; text-anchor: middle;" x="128" y="150">Flgr</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: end;" x="236" y="182">THW</text>
{%- endblock symbol -%}