{% extends "templates/base.j2t" %}
{%- block title -%}
	Facheinheit Information und Kommunikation
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Zug" -%}
	{%- set Sign.Tasks = ["IuK"] -%}
	{%- set Sign.Organisation = "katastrophenschutz" -%}
	{{ super() }}
{%- endblock symbol -%}
