{% extends "templates/base.j2t" %}
{%- block title -%}
	Funkgruppe
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.UnitTasks = ["IuK","Sprechfunk"] -%}
	{%- set Sign.Organisation = "katastrophenschutz" -%}
	{{ super() }}
{%- endblock symbol -%}