{% extends "templates/base.j2t" %}
{%- block title -%}
	Schlacht- und Untersuchungsgruppe
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.UnitTasks = ["Veterinär","Schlachten"] -%}
	{%- set Sign.Organisation = "katastrophenschutz" -%}
	{{ super() }}
{%- endblock symbol -%}