{% extends "templates/base.j2t" %}
{%- block title -%}
	Tier Dekontaminierungs- und Transportgruppe
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.Tasks = ["Veterinär","Dekon Veterinär"] -%}
	{%- set Sign.Organisation = "katastrophenschutz" -%}
	{{ super() }}
{%- endblock symbol -%}