{% extends "templates/base.j2t" %}
{%- block title -%}
	Behandlungsplatz
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<path d="M128,64 l0,128 M64,128 l128,0" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}