{% extends "symbols/Einrichtungen/Bereitstellungsraum.j2" %}
{%- block title -%}
	 Bereitstellungsraum mit Meldekopf
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 40px; text-anchor: middle;" x="128" y="105">M</text>
{%- endblock symbol -%}