{% extends "templates/base.j2t" %}
{%- block title -%}
	Betreuungsstelle
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<path d="M10 80 L128 48 L246 80" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M128,64 l51,102 M128,64 l-51,102" stroke="#000000" stroke-width="5" fill="none"/>
{%- endblock symbol -%}