{% extends "templates/base.j2t" %}
{%- block title -%}
	Entsorgungsstelle
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 72px; text-anchor: middle;" x='128' y="150" >A</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px; text-anchor: middle;" x="128" y="220">Entsorgung</text>
{%- endblock symbol -%}