{% extends "templates/base.j2t" %}
{%- block title -%}
	Leitstelle
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{%- set Sign.Command = True -%}
	{%- set Sign.CommandFacility = True -%}
	{%- set Sign.Stationary = True -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 48px; text-anchor: middle;" x="128" y="153">LSt</text>
{%- endblock symbol -%}