{% extends "symbols/Einrichtungen/Logistikstützpunkt.j2" %}
{%- block title -%}Logistikstützpunkt THW
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: middle;" x="206" y="196">THW</text>
{%- endblock symbol -%}