{% extends "templates/base.j2t" %}
{%- block title -%}
	Logistikstützpunkt
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{%- set Sign.Logistics = True -%}
	{%- set Sign.CommandFacility = True -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 48px; text-anchor: middle;" x="128" y="137">Log</text>
{%- endblock symbol -%}