{% extends "templates/base.j2t" %}
{%- block title -%}
	Meldekopf
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{%- set Sign.CommandFacility = True -%}
	{{ super() }}
<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 56px; text-anchor: middle;" x="128" y="147">M</text>
{%- endblock symbol -%}