{% extends "symbols/Einrichtungen/Stelle_Feldlager.j2" %}
{%- block title -%}
	Stelle Feldlager Belegung
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px; text-anchor: middle;" x="128" y="220">Belegung</text>
{%- endblock symbol -%}