{% extends "templates/base.j2t" %}
{%- block title -%}
	 Stelle Parkplatz
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
    <rect x="88" y="88" width="80" height="80" rx="6" fill="#0000FF" stroke="none"/>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 78px; text-anchor: middle;" fill="#FFFFFF" x="128" y="156">P</text>
{%- endblock symbol -%}