{% extends "templates/base.j2t" %}
{%- block title -%}
	 Stelle Raumordnung
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<path d="M120,76 l54,78 l-92,0 l54,-78" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}