{% extends "templates/base.j2t" %}
{%- block title -%}
	 Stelle Feldlager
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<line x1="168" x2="168" y1="110" y2="145" stroke-width="2" stroke="#000000" />
	<line x1="88" x2="88" y1="110" y2="145" stroke-width="2" stroke="#000000" />
	<path d="M88 128 L168 128 M168 110 L168 145 M88 110 L88 145 M 88 127 A 42 23, 0, 0 1, 168 127" stroke-width="3" style="stroke:black; fill:#FFFFFF" />
{%- endblock symbol -%}