{% extends "symbols/Einrichtungen/Verpflegungsstelle.j2" %}
{%- block title -%}
	Verpflegungsstelle Ausgabe Verpflegung
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: middle;" x="128" y="216">Ausgabe</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: middle;" x="128" y="244">Verpflegung</text>
{%- endblock symbol -%}