{% extends "symbols/Einrichtungen/Verpflegungsstelle.j2" %}
{%- block title -%}
	Verpflegungsstelle Geschirr
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px; text-anchor: middle;" x="128" y="230">Geschirr</text>
{%- endblock symbol -%}