{% extends "symbols/Einrichtungen/Versorgungsstelle.j2" %}
{%- block title -%}
	Versorgungsstelle Verbrauchsgüter THW
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 30px; text-anchor: middle;" x="128" y="137">Log-VG</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: middle;" x="206" y="196">THW</text>
	<path d="M74 160 l108 0 a56,-44 0 0 1 -108,0" stroke="none" fill="#000000" />
<{%- endblock symbol -%}