{% extends "templates/base.j2t" %}
{%- block title -%}
	Wache
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Facility" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 30px; text-anchor: middle;" x="128" y="137">Wache</text>
{%- endblock symbol -%}