{% extends "symbols/Rettungswesen_Einrichtungen/Patientenablage.j2" %}
{%- block title -%}
	Arztbesetzte Patientenablage
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M112,160 l32,0" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}