{% extends "templates/base.j2t" %}
{%- block title -%}
	Schadenstelle weiß
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <path d="M6,251 L250,251 L250,171 L128,5 L6,171 z" stroke="#000000" stroke-width="6" fill="#FFFFFF" stroke-linejoin="round" />
{%- endblock symbol -%}