{% extends "symbols/Schadenskonten/weiß/Schadenstelle.j2" %}
{%- block title -%}
	Schadenstelle weiß 19
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 120px;" fill="#000000" x="128" y="210">19</text>
{%- endblock symbol -%}