{% extends "symbols/Schadenskonten/weiß/Schadenskonto.j2" %}
{%- block title -%}
	Schadenskonto weiß 1
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 120px;" fill="#000000" x="128" y="170">1</text>
{%- endblock symbol -%}