{% extends "templates/base.j2t" %}
{%- block title -%}
	Schadenskonto weiß
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <path d="M0,5 l256,0 M0,251 l256,0" stroke="#000000" stroke-width="8" fill="none" />
    <ellipse cx="128" cy="128" rx="110" ry="110" stroke-width="6" fill="#FFFFFF" stroke="#000000" />
{%- endblock symbol -%}