{% extends "templates/base.j2t" %}
{%- block title -%}
	Einheit der Polizei
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.Organisation = "polizei" -%}
	{{ super() }}
{%- endblock symbol -%}