{% extends "templates/base.j2t" %}
{%- block title -%}
	Gruppenführer der Bundeswehr
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.Organisation = "bundeswehr" -%}
	{%- set Sign.Command = True -%}
	{{ super() }}
{%- endblock symbol -%}