{% extends "templates/base.j2t" %}
{%- block title -%}
	Führungstrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{%- set Sign.Command = True -%}
	{{ super() }}
{%- endblock symbol -%}