{% extends "templates/base.j2t" %}
{%- block title -%}
	Staffel
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Staffel" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
{%- endblock symbol -%}