{% extends "templates/base.j2t" %}
{%- block title -%}
	Ausgefüllter Raum
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M10,64 l0,128 l236,0 l0,-128 m0,40 l-236,0" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}