{% extends "templates/base.j2t" %}
{%- block title -%}
	Rutschfläche
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M192,64 l-128,128" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}