{% extends "templates/base.j2t" %}
{%- block title -%}
	Ausgefüllter Raum mit Schichtung
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M222,64 l-128,128 M202,64 l-128,128 M182,64 l-128,128 M162,64 l-128,128" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}