{% extends "templates/base.j2t" %}
{%- block title -%}
	Teilzerstört
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M32,96 L160,224 M32,160 L160,32 M96,32 L224,160 M96,224 L224,96" stroke-width="5" stroke="#000000" fill="none" /> 
{%- endblock symbol -%}