{% extends "templates/base.j2t" %}
{%- block title -%}
	Abrollbehälter Container
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Container" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}