{% extends "templates/base.j2t" %}
{%- block title -%}
	Drehleiter mit Korb
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kraft" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<path d="M140,180 l70,-70 l20,0 l0,-20 l-20,0 l0,20" fill="none" stroke="{{ colorSecondary[Sign.Organisation] }}" stroke-width="6" />
{%- endblock symbol -%}