{% extends "templates/base.j2t" %}
{%- block title -%}
	ELW 2
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kraft" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 48px; text-anchor: middle;" fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="155">ELW 2</text>
{%- endblock symbol -%}