{% extends "templates/base.j2t" %}
{%- block title -%}
	Löschfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Gelände" -%}
	{%- set Sign.Tasks = ["Löschen"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}