{% extends "templates/base.j2t" %}
{%- block title -%}
	Messfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Gelände" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: left; " fill="{{ colorSecondary[Sign.Organisation] }}" x="20" y="140">GW-Mess</text>
	<g transform="scale(0.5), translate(220,128)">
		<path d="M10,192 l236,-128" stroke-width="5" stroke="{{ colorSecondary[Sign.Organisation] }}" fill="none"/>
		<ellipse cx="78" cy="112" rx="20" ry="20" fill="{{ colorSecondary[Sign.Organisation] }}" />
		<ellipse cx="178" cy="112" rx="20" ry="20" fill="{{ colorSecondary[Sign.Organisation] }}" />
		<path d="M88 102 L188 174 M168 102 L68 174" stroke="{{ colorSecondary[Sign.Organisation] }}" stroke-width="10" fill="none" />
	</g>
{%- endblock symbol -%}