{% extends "symbols/Feuerwehr_Fahrzeuge/Arztfahrzeug.j2" %}
{%- block title -%}
	Notarzteinsatzfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start; font-size: 32px;" fill="{{ colorSecondary[Sign.Organisation] }}" x="22" y="120">NEF</text>
{%- endblock symbol -%}