{% extends "templates/base.j2t" %}
{%- block title -%}
	Rüstwagen
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Gelände" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: start;" fill="{{ colorSecondary[Sign.Organisation] }}" x="22" y="120">RW</text>
	<g transform="translate(0,24)">
		<path d="M120,128 l10,0 c10,-20,58,-20,48,0 -10,20,38,20,48,0" stroke="{{ colorSecondary[Sign.Organisation] }}" stroke-width="14" fill="none" />
		<path d="M120,128 l10,0 c10,-20,58,-20,48,0 -10,20,38,20,48,0" stroke="{{ colorPrimary[Sign.Organisation] }}" stroke-width="8" fill="none" />
		<rect x="60" y="116" width="60" height="22" stroke="{{ colorSecondary[Sign.Organisation] }}" stroke-width="3" fill="{{ colorPrimary[Sign.Organisation] }}" />
		<path d="M60,120 l-24,-10 M60,134 l-24,10" stroke="{{ colorSecondary[Sign.Organisation] }}" stroke-width="3" fill="none" />
	</g>
{%- endblock symbol -%}