{% extends "symbols/Feuerwehr_Fahrzeuge/Löschfahrzeug.j2" %}
{%- block title -%}
	TLF 4000
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px;" fill="{{ colorSecondary[Sign.Organisation] }}" x="22" y="120">TLF 4000</text>
{%- endblock symbol -%}