{% extends "templates/base.j2t" %}
{%- block title -%}
	Wechselladerfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Wechsel Gelände" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 48px; text-anchor: middle;" fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="155">WLF</text>
{%- endblock symbol -%}