{% extends "templates/base.j2t" %}
{%- block title -%}
	Feuerwehrgerätehaus
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Building" -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 80px;" fill="{{ colorSecondary[Sign.Organisation] }}" x="128" y="155">Fw</text>
{%- endblock symbol -%}