{% extends "templates/base.j2t" %}
{%- block title -%}
	Ortsfest
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M10 80 L128 48 L246 80" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}