{% extends "templates/base.j2t" %}
{%- block title -%}
	Akute Gefahr durch elektrischen Strom
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Hazard" -%}
	{%- set Sign.Acute = true -%}
	{{ super() }}
	<path d="M118,80 l0,40 l20,-20 l0,50 m-10,-10 l10,10 l 10,-10" stroke-width="5" stroke="#FF0000" fill="none" />
{%- endblock symbol -%}