{% extends "templates/base.j2t" %}
{%- block title -%}
	Akute Gefahr
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Hazard" -%}
	{%- set Sign.Acute = true -%}
	{{ super() }}
{%- endblock symbol -%}