{% extends "templates/base.j2t" %}
{%- block title -%}
	Akute Gefahr durch Explosion
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Hazard" -%}
	{%- set Sign.Acute = true -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 56px;" fill="#FF0000" x="128" y="120">Ex</text>
{%- endblock symbol -%}