{% extends "templates/base.j2t" %}
{%- block title -%}
	Gefahr durch Gas
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Hazard" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 40px;" fill="#FF0000" x="128" y="108">Gas</text>
{%- endblock symbol -%}