{% extends "templates/base.j2t" %}
{%- block title -%}
	Vermutete Gefahr
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Hazard" -%}
	{%- set Sign.Presumed = true -%}
	{{ super() }}
{%- endblock symbol -%}