{% extends "templates/base.j2t" %}
{%- block title -%}
	Gerettete Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
	<path d="M64,198 L192,198" stroke-width="7" stroke="#000000" />
{%- endblock symbol -%}