{% extends "templates/base.j2t" %}
{%- block title -%}
	Person mit Sonderfunktion
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{%- set Sign.SpecialFunction = true -%}
	{{ super() }}
{%- endblock symbol -%}