{% extends "templates/base.j2t" %}
{%- block title -%}
	Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
{%- endblock symbol -%}