{% extends "templates/base.j2t" %}
{%- block title -%}
	Tote Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
	<path d="M128,66 L128,190" stroke-width="5" stroke="#000000" />
	<path d="M152,90 L104,90" stroke-width="5" stroke="#000000" />
{%- endblock symbol -%}