{% extends "templates/base.j2t" %}
{%- block title -%}
	Verbandführer II
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{%- set Sign.UnitSize = "Verband 2" -%}
	{{ super() }}
{%- endblock symbol -%}