{% extends "templates/base.j2t" %}
{%- block title -%}
	Vermisste Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
	<path d="M57,121 l64,-64 M135,199 l64,-64" stroke-width="5" stroke="#000000" />
{%- endblock symbol -%}