{% extends "templates/base.j2t" %}
{%- block title -%}
	Verschüttete Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
	<path d="M64,58 L192,58" stroke-width="7" stroke="#000000" />
{%- endblock symbol -%}