{% extends "templates/base.j2t" %}
{%- block title -%}
	Zu transportierende Person
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
	<path d="M64,198 L188,198" stroke="#000000" stroke-width="5" />
	<path d="M182,188 L192,198 L182,208 Z" stroke="#000000" stroke-width="2" />
{%- endblock symbol -%}