{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Erkunden
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M50,192 L180,150" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}