{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Heben
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M112,182 l0,-64 l16,0 a10,10 1 1 0 20,0" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}