{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Luftfahrzeuge
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M137,164 l32,0 a6,6 180 0 1 0,12 l-32,0 a6,6 180 0 1 0,-12 Z" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M87,164 l32,0 a6,6 180 0 1 0,12 l-32,0 a6,6 180 0 1 0,-12 Z" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}