{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Orten
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M112,158 l-20,0 l10,-20 Z l-10,20 Z l10,20 Z l40,0 l8,-16 l-18,36 l10,-20 l10,20" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}