{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Pumpen
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<ellipse cx="128" cy="150" rx="20" ry="20" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M108,150 l-8,0 a8,8 0 0 1 -8,-8" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M123,131 l-2,-8 a8,8 0 0 1 4,-11" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M123,169 l-2,8 a8,8 0 0 1 -11,4" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M144,138 l6,-5 a8,8 0 0 1 11,-1" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M144,162 l6,5 a8,8 0 0 1 2,11" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}