{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Retten aus Höhen und Tiefen
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M80,192 l3,0 l50,-50 l20,0 l0,-20 l-20,0 l0,20" fill="none" stroke="#000000" stroke-width="5" />
{%- endblock symbol -%}