{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Räumen
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M96,160 L150,160 l0,-15 l0,25 l20,10" stroke-width="5" stroke="#000000" fill="none" />
{%- endblock symbol -%}