{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Sprengen
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<path d="M116,116 a12,64 180 0 0 24,0 Z" fill="#000000" />
{%- endblock symbol -%}