{% extends "templates/base.j2t" %}
{%- block title -%}
	Maßnahme Transportieren
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Action" -%}
	{{ super() }}
	<ellipse cx="128" cy="150" rx="30" ry="30" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M128,150 l-30,0 l60,0 m-30,0 l0,-30 l0,60 m0,-30 l21,21 M128,150 l-21,-21 M128,150 l21,-21 M128,150 l-21,21" stroke-width="5" stroke="#000000" />
{%- endblock symbol -%}