{% extends "templates/base.j2t" %}
{%- block title -%}
	Hubschrauber
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<path d="M128,78 l0,100 m-32,0 l64,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M138,68 l44,0 a10,10 180 0 1 0,20 l-44,0 a10,10 180 0 1 0,-20 Z" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M74,68 l44,0 a10,10 180 0 1 0,20 l-44,0 a10,10 180 0 1 0,-20 Z" stroke="#000000" stroke-width="5" fill="none" />
{%- endblock symbol -%}