{% extends "templates/base.j2t" %}
{%- block title -%}
	Kettenfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kette" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
{%- endblock symbol -%}