{% extends "templates/base.j2t" %}
{%- block title -%}
	Wasserfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Boot" -%}
	{%- set Sign.Organisation = "undefined" -%}
	{{ super() }}
{%- endblock symbol -%}