{% extends "templates/base.j2t" %}
{%- block title -%}
	Abschnittsleiter Betreuung
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Tasks = ["Betreuung"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{%- set Sign.Command = True -%}
	{{ super() }}
{%- endblock symbol -%}