{% extends "templates/base.j2t" %}
{%- block title -%}
	Rotkreuzbeauftragter
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Organisation = "rettung" -%}
	{%- set Sign.Command = True -%}
	{{ super() }}
	<text x="128" y="140" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 40px; " fill="{{ colorStroke[Sign.Organisation]}}">DRK</text>
{%- endblock symbol -%}