{% extends "templates/base.j2t" %}
{%- block title -%}
	Truppführer Sanitätstrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Tasks = ["Sanität"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{{ super() }}
{%- endblock symbol -%}