{% extends "templates/base.j2t" %}
{%- block title -%}
	Truppführer Technik und Sicherheit
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Tasks = ["Material"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 32px;" fill="{{ colorStroke[Sign.Organisation] }}" x="128" y="128">TS</text>
{%- endblock symbol -%}