{% extends "templates/base.j2t" %}
{%- block title -%}
	Zugführer Sanitätszug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Person" -%}
	{%- set Sign.Tasks = ["Sanität"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{%- set Sign.UnitSize = "Zug" -%}
	{{ super() }}
{%- endblock symbol -%}