{% extends "templates/base.j2t" %}
{%- block title -%}
	Bagger Rad
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Gelände" -%}
	{%- set Sign.Organisation = "kommunal" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px;" fill="{{ colorStroke[Sign.Organisation] }}" x="128" y="145">Bagger</text>
{%- endblock symbol -%}