{% extends "templates/base.j2t" %}
{%- block title -%}
	Wechselladerfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Wechsel" -%}
	{%- set Sign.Organisation = "kommunal" -%}
	{{ super() }}
{%- endblock symbol -%}