{% extends "templates/base.j2t" %}
{%- block title -%}
	Geländegängiges Kraftfahrzeug der Bundeswehr
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Gelände" -%}
	{%- set Sign.Organisation = "bundeswehr" -%}
	{{ super() }}
{%- endblock symbol -%}