{% extends "templates/base.j2t" %}
{%- block title -%}
	Anhänger der Polizei
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Anhänger" -%}
	{%- set Sign.Organisation = "polizei" -%}
	{{ super() }}
{%- endblock symbol -%}