{% extends "templates/base.j2t" %}
{%- block title -%}
	PKW der Polizei
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kraft" -%}
	{%- set Sign.Organisation = "polizei" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end;" fill="{{ colorStroke[Sign.Organisation] }}" x="236" y="180">Pol</text>
{%- endblock symbol -%}