{% extends "symbols/Schadenskonten/rot/Schadenstelle.j2" %}
{%- block title -%}
	Schadenstelle rot 18
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 120px;" fill="#FFFFFF" x="128" y="210">18</text>
{%- endblock symbol -%}