{% extends "symbols/Schadenskonten/rot/Schadenskonto.j2" %}
{%- block title -%}
	Schadenskonto rot 10
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
    <text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 120px;" fill="#FFFFFF" x="128" y="170">10</text>
{%- endblock symbol -%}