{% extends "templates/base.j2t" %}
{%- block title -%}
	Gruppe Technik und Sicherheit
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.UnitTasks = ["Instandhaltung"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 32px;" fill="{{ colorStroke[Sign.Organisation]}}" x="128" y="120">TS</text>
{%- endblock symbol -%}