{% extends "templates/base.j2t" %}
{%- block title -%}
	Sanitätstrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{%- set Sign.UnitTasks = ["Sanität"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{{ super() }}
{%- endblock symbol -%}