{% extends "templates/base.j2t" %}
{%- block title -%}
	Verpflegungsgruppe
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.Tasks = ["Betreuung","Verpflegung"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{{ super() }}
{%- endblock symbol -%}