{% extends "templates/base.j2t" %}
{%- block title -%}
	Führungsgruppe Technische Einsatzleitung
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.Organisation = "command" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 56px; text-anchor: middle;" x="128" y="145" fill="{{ colorSecondary[Sign.Organisation] }}">TEL</text>
{%- endblock symbol -%}