{% extends "symbols/Feuerwehr_Einheiten/Löschzug.j2" %}
{%- block title -%}
	Löschzug der Berufsfeuerwehr
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Zug" -%}
	{%- set Sign.UnitTasks = ["Brandbekämpfung"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
	<text x="22" y="100" style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px;" fill="{{ colorSecondary[Sign.Organisation] }}">BF</text>
{%- endblock symbol -%}
