{% extends "templates/base.j2t" %}
{%- block title -%}
	Löschstaffel
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Staffel" -%}
	{%- set Sign.Tasks = ["Brandbekämpfung"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}
