{% extends "symbols/Feuerwehr_Einheiten/Löschzug.j2" %}
{%- block title -%}
	Löschzug der Werksfeuerwehr
{%- endblock title -%}
{%- block symbol -%}
	{{ super() }}
	<text x="22" y="100" style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px;" fill="{{ colorSecondary[Sign.Organisation] }}">WF</text>
{%- endblock symbol -%}
