{% extends "templates/base.j2t" %}
{%- block title -%}
	RettR/UAV Erkundungstrupp
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{%- set Sign.Tasks = ["UAV","Erkundung"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}
