{% extends "templates/base.j2t" %}
{%- block title -%}
	RettR/UAV Erkundungsgruppe
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Gruppe" -%}
	{%- set Sign.UnitTasks = ["UAV","Erkundung"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}
