{% extends "templates/base.j2t" %}
{%- block title -%}
	Versorgungstrupp Materialerhaltung
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Unit" -%}
	{%- set Sign.UnitSize = "Trupp" -%}
	{%- set Sign.Logistics = true -%}
	{%- set Sign.UnitTasks = ["Instandhaltung"] -%}
	{%- set Sign.Organisation = "feuerwehr" -%}
	{{ super() }}
{%- endblock symbol -%}