{% extends "templates/base.j2t" %}
{%- block title -%}
	Kraftfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kraft" -%}
	{%- set Sign.VehicleTask = "Sanität" -%}
	{%- set Sign.Organisation = "rettung" -%}
	{{ super() }}
{%- endblock symbol -%}