{% extends "templates/base.j2t" %}
{%- block title -%}
	Notarzteinsatzfahrzeug
{%- endblock title -%}
{%- block symbol -%}
	{%- set Sign.Type = "Vehicle" -%}
	{%- set Sign.VehicleType = "Kraft" -%}
	{%- set Sign.Tasks = ["Sanität","Arzt"] -%}
	{%- set Sign.Organisation = "rettung" -%}
	{{ super() }}
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start; font-size: 32px;" fill="{{ colorStroke[Sign.Organisation] }}" x="22" y="120">NEF</text>
{%- endblock symbol -%}